:root {
  --nav-bar-height: 155px;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  @media (min-width: 700px) {
    justify-content: space-between;
    flex-direction: row;
  }
  grid-column: 2/3;
  a:link,
  a:visited {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: #333;
  }
}

.logo {
  font-size: 8.5vw;

  @media (min-width: 600px) {
    font-size: 2.5em;
  }

  font-weight: 300;
  user-select: none;
}

.container {
  display: grid;
  grid-template-columns: 25px 1fr 25px;

  @media (min-width: 600px) {
    grid-template-columns: 4% 1fr 4%;
  }

  grid-template-rows: var(--nav-bar-height) auto auto;
  /* grid-column-gap: 0px; */
  /* grid-row-gap: 0px; */
  /* border: 1px solid red; */
  /* justify-items: center; */
  padding-bottom: 30px;
}

.links {
  display: flex;
  gap: 20px;

  a:hover,
  a:active {
    color: #555;
    border-bottom: 2px solid #333;
  }
}
