.mainContent {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100dvh - var(--nav-bar-height));

  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    max-width: 1080px;
    @media (min-width: 980px) {
      margin-top: 45px;
      justify-self: end;
    }
  }

  a:link,
  a:visited {
    color: #777;
  }

  a:hover,
  a:active {
    color: #333;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}