:root {
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --homepage-social-links-color: #333;
  /* --homepage-social-links-color: #24496c; */
  --homepage-social-links-hover: #777;
  /* --homepage-social-links-hover: #6d91b4; */
}

::selection {
  background-color: #a1b7cc;
  color: #fafafa;
}

img {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  font-weight: 300;
}

a {
  text-decoration: inherit;
}

.bold {
  font-weight: bold;
}

.center-text {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.tiny-text {
  font-size: 0.9em;
  font-weight: light;
  color: #777;
}

em {
  font-style: italic;
}

#custom-substack-embed * {
  font-weight: 300;
  font-family: "Libre Baskerville", serif !important;
}

.ig_embed {
  display: flex;
  justify-content: center;
  width: 100%;
  /* max-width: fit-content; */
  min-height: 439px;
}

.ig_embed:not(:has(blockquote)) iframe {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05) !important;
}

.instagram-media,
#instagram-media-payload-0 {
  max-width: 80vw !important;
  min-width: 0px !important;
  border: 0 !important;
  box-shadow: none !important;
}

.shadow {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.quoteBlock {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  p {
    max-width: 100ch;
    text-align: center;
  }
  p:last-child {
    text-wrap: nowrap;
  }
}
